
.header-container {
  height:100;
  width:150px;
  border-radius: 15px;
  justify-content: ' center';
  display:inline-block;
  margin-left:10px;
  background:rgb(0, 0, 0);
  border:solid 3px red;
  color: aliceblue;
  font-size: x-large;
}
.card-container {
  height:100;
  width:150px;
  border-radius: 15px;
  justify-content: ' center';
  display:inline-block;
  margin-left:10px;
  background:rgb(255, 0, 0);
  border:solid 3px black;
  color:  aliceblue;
  font-size: x-large;
}


.last-container {
  height:100;
  width:150px;
  border-radius: 15px;
  justify-content: ' center';
  display:inline-block;
  margin-left:10px;
  background:rgb(0, 0, 0);
  border:solid 3px red;
  font-size: x-large;
  color: aliceblue;
;}
